<!--For Template_options page-->
<!--Item 1: Template Options Heading, Home button on right-->
<!--Item 2: 8 carousels with headings -->
<!--Item 3:  -->
<!--Item 4:  -->
<!--Item 5:  -->
<!--Item 6:  -->
<!----{% load static %}-->
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Template Options</title>
   
 
  <!----<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">-->
 
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&family=Poiret+One&display=swap" rel="stylesheet">


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <style>
    head{

    }

    h1, h6{
      text-align: center;
    }
    html, body{
      height: 100%;
      background: #B2F3F3;
      max-width: 37.5rem;
      margin: 0 auto;
      padding: 0%;
      font-family: 'Lato', sans-serif;

    }

    .button-1{
      background-color: #57029c; /* Green */
      border: none;
      color: white;
      padding: 50px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 40px;
      margin: 6px 40px;
      cursor: pointer;
      border-radius: 50px;
      box-shadow: 3px 4px 5px rgb(0 0 0 / 50%);
      width: 500px;
    }
    .my-row-1{
      margin-bottom: 5%;
      margin-left: 0%;
      margin-right: 0%;
      margin-top: 0%;
      padding: 0%;
      height: 14%;
    }
    .my-row-2{
      margin-bottom: 5%;
      margin-left: 0%;
      margin-right: 0%;
      margin-top: 0%;
      padding: 0%;
      height: 14%;
    }
    .my-row-3{
      margin-bottom: 5%;
      margin-left: 0%;
      margin-right: 0%;
      margin-top: 0%;
      padding: 0%;
      height: 14%;
    }
    .my-row-4{
      margin-bottom: 5%;
      margin-left: 0%;
      margin-right: 0%;
      margin-top: 0%;
      padding: 0%;
      height: 14%;
    }
    .mySlides-1{
      display: none;
    }
    .mySlides-2{
      display: none;
    }
    .mySlides-3{
      display: none;
    }
    .mySlides-4{
      display: none;
    }
    .mySlides-5{
      display: none;
    }
    .mySlides-6{
      display: none;
    }
    .mySlides-7{
      display: none;
    }
    .mySlides-8{
      display: none;
    }
  </style>
 
</head>

<body>
  <div class="header">
  <li> <span style="font-size: 2em; color: black;padding-left: 830px; "> <a href="/coloring/index/" ><i class="fas fa-home"></i></a> </span> </li>
  <h1>Template Options</h1>
    <h6><i>Drawing? Pssh. I have no wish to draw blood. <br> — A frequent Template Hue-man.</i></h6>
  </div>
  <div class="container-fluid row my-row-1">
    <div class="col-6" style="margin-top: 50px;"><h3 style="text-align: center;"><strong>Flowers</strong></h3></div>
    <div class="col-6" style="margin-top: 50px;"><h3 style="text-align: center;"><strong>Landmarks</strong></h3></div>
    <div class="col-6" style="display: flex; justify-content: center; align-items: center;">
      <img class="my-img mySlides-1" src="/static/coloring/images/flower1.jpg" style="max-width: 80%; height: 8vh;">
      <img class="my-img mySlides-1" src="/static/coloring/images/flower2.jpeg" style="max-width: 100%; height: 8vh;">
      <img class="my-img mySlides-1" src="/static/coloring/images/flower3.jpeg" style="max-width: 100%; height: 8vh;">
      <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
      <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
    </div>
    <div class="col-6" style="display: flex; justify-content: center; align-items: center;">
      <img class="my-img mySlides-2" src="/static/coloring/images/land1.jpeg" style="max-width: 80%; height: 8vh;">
      <img class="my-img mySlides-2" src="/static/coloring/images/land2.jpeg" style="max-width: 100%; height: 8vh;">
      <img class="my-img mySlides-2" src="/static/coloring/images/land3.jpeg" style="max-width: 100%; height: 8vh;">
      <button class="w3-button w3-black w3-display-left" onclick="plusDivs2(-1)">&#10094;</button>
      <button class="w3-button w3-black w3-display-right" onclick="plusDivs2(1)">&#10095;</button>
    </div>
  </div>
  <div class="container-fluid row my-row-2">
    <div class="col-6"><h3 style="text-align: center;"><strong>Geometric</strong></h3></div>
    <div class="col-6"><h3 style="text-align: center;"><strong>Mandala</strong></h3></div>
    <div class="col-6" style="display: flex; justify-content: center; align-items: center;">
      <img class="my-img mySlides-3" src="/static/coloring/images/geom1.jpeg" style="max-width: 80%; height: 8vh;">
      <img class="my-img mySlides-3" src="/static/coloring/images/geom2.jpeg" style="max-width: 100%; height: 8vh;">
      <img class="my-img mySlides-3" src="/static/coloring/images/geom3.jpeg" style="max-width: 100%; height: 8vh;">
      <button class="w3-button w3-black w3-display-left" onclick="plusDivs3(-1)">&#10094;</button>
      <button class="w3-button w3-black w3-display-right" onclick="plusDivs3(1)">&#10095;</button>
    </div>
    <div class="col-6" style="display: flex; justify-content: center; align-items: center;">
      <img class="my-img mySlides-4" src="/static/coloring/images/mandala2.jpeg" style="max-width: 80%; height: 8vh;">
      <img class="my-img mySlides-4" src="/static/coloring/images/mandala-freepik.svg" style="max-width: 100%; height: 8vh;">
      <img class="my-img mySlides-4" src="/static/coloring/images/mandala4.jpeg" style="max-width: 100%; height: 8vh;">
      <button class="w3-button w3-black w3-display-left" onclick="plusDivs4(-1)">&#10094;</button>
      <button class="w3-button w3-black w3-display-right" onclick="plusDivs4(1)">&#10095;</button>
    </div>
  </div>
  <div class="container-fluid row my-row-3">
    <div class="col-6"><h3 style="text-align: center;"><strong>Oceans</strong></h3></div>
    <div class="col-6"><h3 style="text-align: center;"><strong>City Life</strong></h3></div>
    <div class="col-6" style="display: flex; justify-content: center; align-items: center;">
      <img class="my-img mySlides-5" src="/static/coloring/images/ocean1.png" style="max-width: 80%; height: 8vh;">
      <img class="my-img mySlides-5" src="/static/coloring/images/ocean2.jpeg" style="max-width: 100%; height: 8vh;">
      <img class="my-img mySlides-5" src="/static/coloring/images/ocean3.jpeg" style="max-width: 100%; height: 8vh;">
      <button class="w3-button w3-black w3-display-left" onclick="plusDivs5(-1)">&#10094;</button>
      <button class="w3-button w3-black w3-display-right" onclick="plusDivs5(1)">&#10095;</button>
    </div>
    <div class="col-6" style="display: flex; justify-content: center; align-items: center;">
      <img class="my-img mySlides-6" src="/static/coloring/images/city1.jpeg" style="max-width: 80%; height: 8vh;">
      <img class="my-img mySlides-6" src="/static/coloring/images/city2.jpeg" style="max-width: 100%; height: 8vh;">
      <img class="my-img mySlides-6" src="/static/coloring/images/city3.jpeg" style="max-width: 100%; height: 8vh;">
      <button class="w3-button w3-black w3-display-left" onclick="plusDivs6(-1)">&#10094;</button>
      <button class="w3-button w3-black w3-display-right" onclick="plusDivs6(1)">&#10095;</button>
    </div>
  </div>
  <div class="container-fluid row my-row-4">
    <div class="col-6"><h3 style="text-align: center;"><strong>Animals</strong></h3></div>
    <div class="col-6"><h3 style="text-align: center;"><strong>Intricate</strong></h3></div>
    <div class="col-6" style="display: flex; justify-content: center; align-items: center;">
      <img class="my-img mySlides-7" src="/static/coloring/images/animal1.jpeg" style="max-width: 80%; height: 8vh;">
      <img class="my-img mySlides-7" src="/static/coloring/images/animal2.jpeg" style="max-width: 100%; height: 8vh;">
      <img class="my-img mySlides-7" src="/static/coloring/images/animal3.gif" style="max-width: 100%; height: 8vh;">
      <button class="w3-button w3-black w3-display-left" onclick="plusDivs7(-1)">&#10094;</button>
      <button class="w3-button w3-black w3-display-right" onclick="plusDivs7(1)">&#10095;</button>
    </div>
    <div class="col-6" style="display: flex; justify-content: center; align-items: center;">
      <img class="my-img mySlides-8" src="/static/coloring/images/intricate1.jpeg" style="max-width: 80%; height: 8vh;">
      <img class="my-img mySlides-8" src="/static/coloring/images/intricate2.jpeg" style="max-width: 100%; height: 8vh;">
      <img class="my-img mySlides-8" src="/static/coloring/images/intricate3.jpeg" style="max-width: 100%; height: 8vh;">
      <button class="w3-button w3-black w3-display-left" onclick="plusDivs8(-1)">&#10094;</button>
      <button class="w3-button w3-black w3-display-right" onclick="plusDivs8(1)">&#10095;</button>
    </div>
  </div>


  <div style="text-align: center;"><a href="/coloring/new/interaction/one/"><button  class="button-1" style="text-align: center; position: center;"> <strong>I'm ready to color!</strong></button></a></div>



<script>

/* Have different Javascript code for different buttons*/

var slideIndex = 1;
showDivs(slideIndex);
showDivs2(slideIndex);
showDivs3(slideIndex);
showDivs4(slideIndex);
showDivs5(slideIndex);
showDivs6(slideIndex);
showDivs7(slideIndex);
showDivs8(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides-1");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}

function plusDivs2(n) {
  showDivs2(slideIndex += n);
}

function showDivs2(n) {
  var i;
  var x = document.getElementsByClassName("mySlides-2");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}

function plusDivs3(n) {
  showDivs3(slideIndex += n);
}

function showDivs3(n) {
  var i;
  var x = document.getElementsByClassName("mySlides-3");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}

function plusDivs4(n) {
  showDivs4(slideIndex += n);
}

function showDivs4(n) {
  var i;
  var x = document.getElementsByClassName("mySlides-4");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}

function plusDivs5(n) {
  showDivs5(slideIndex += n);
}

function showDivs5(n) {
  var i;
  var x = document.getElementsByClassName("mySlides-5");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}

function plusDivs6(n) {
  showDivs6(slideIndex += n);
}

function showDivs6(n) {
  var i;
  var x = document.getElementsByClassName("mySlides-6");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}

function plusDivs7(n) {
  showDivs7(slideIndex += n);
}

function showDivs7(n) {
  var i;
  var x = document.getElementsByClassName("mySlides-7");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}

function plusDivs8(n) {
  showDivs8(slideIndex += n);
}

function showDivs8(n) {
  var i;
  var x = document.getElementsByClassName("mySlides-8");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}
/*--------------------------------------------------------------------------------------------------------------------*/
 
</script>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>